.person-img img{
    border-radius: 50%;
}
.comment-container{
    width: 400px;
    box-sizing: border-box;
    padding: 8px;
    background-color: #e9ecef;
   margin-top: 5px;
   border-radius: 10px;
}